<section class='contact-form' id='contact'>
  <% if flash[:alert] %>
    <aside class="notice"><%= flash[:alert] %></aside>
  <% end %>


  <%= form_tag do %>
    <% if flash[:notice] %>
    <div class="contact-success"><%= flash[:notice] %></div>
    <% end %> 
    <h2>Contact Me</h2>

    <p>Reach out if you need help building an awesome product. I can help you out with strategy, product, implementing or any advisory about a product</p>
  
    <%= text_field_tag :name, params[:name], placeholder: 'Type your name' %>
    <%= email_field_tag :email, params[:email], placeholder: 'Type your email' %>
    <%= text_area_tag :message, params[:message], placeholder: 'How can I help you?', rows: 10 %>  
    <%= submit_tag "Send", class: 'submit-button' %>

  <% end %>
</section>