<nav class="custom-navbar">

  <div class="logo">
    <%= image_tag 'linkedin.svg', class: 'logo-img' %>
  </div>

  <ul class="item-navigation">
    <a href='#'>Portfolio</a>
    <a href='#'>About</a>
    <a href='#'>Contact</a>
  </ul>

</nav>


<header class="header">
  <h1 class="main-title">Hi there, I'm Santiago. <br> Nice to meet you.</h1>
  <h1 class="secondary-title">
      I'm a husband, entrepreneur and developer! I love building products. Reach out if you think I can help you building one. 
  </h1>

  <p class="connect-text">
    Reach out! Let's connect
  </p>

  <div class="icons">
    <%= link_to (image_tag 'github.svg', class: 'header-icon').html_safe,  "https://github.com/santiagorodriguezbermudez" %>
    <%= link_to (image_tag 'linkedin.svg', class: 'header-icon').html_safe,  "https://linkedin.com/in/srba" %>
    <%= link_to (image_tag 'medium.svg', class: 'header-icon').html_safe,  "https://medium.com/@srba87" %>
    <%= link_to (image_tag 'twitter.svg', class: 'header-icon').html_safe,  "https://twitter.com/srba87" %>
  </div>
</header>


<div class="list-portfolio">
  <% @projects.each_with_index do |project, index| %>
    <div class="project-container">
      <%= raw first_item(index, project) %>
      <%= raw second_item(index, project) %>
      <%= raw modal(project, index) %>
    </div>
  <% end %>
</div>


<section class="about-myself">
  <div class="self-description">
    <h2>About myself</h2>
    <h5>I'm passionate about building products. I've worked on startups and founded companies as well. I recently studied software development to create even better products.</h5>

    <p class="connect-text">
    Reach out! Let's connect
    </p>

    <div class="icons">
      <%= link_to (image_tag 'github.svg', class: 'header-icon').html_safe,  "https://github.com/santiagorodriguezbermudez" %>
      <%= link_to (image_tag 'linkedin.svg', class: 'header-icon').html_safe,  "https://linkedin.com/in/srba" %>
      <%= link_to (image_tag 'medium.svg', class: 'header-icon').html_safe,  "https://medium.com/@srba87" %>
      <%= link_to (image_tag 'twitter.svg', class: 'header-icon').html_safe,  "https://twitter.com/srba87" %>
    </div>  
  
  </div>

  <div class="information">
    <div class="information-category">
      <h5>Languages</h5>
      <div class="category-icons">
        <div class="information-item">
          <%= image_tag 'html-5.svg', class: 'item' %>
          <span>HTML</span>
        </div>
        <div class="information-item">
          <%= image_tag 'css.svg', class: 'item' %>
          <span>CSS</span>
        </div>
        <div class="information-item">
          <%= image_tag 'javascript.svg', class: 'item' %>
          <span>JavaScript</span>
        </div>
        <div class="information-item">
          <%= image_tag 'ruby.svg', class: 'item' %>
          <span>Ruby</span>
        </div>
      </div>
    </div>

    <div class="information-category">
      <h5>Frameworks</h5>
      <div class="category-icons">
        <div class="information-item">
          <%= image_tag 'react.svg', class: 'item' %>
          <span>React and Redux</span>
        </div>
        <div class="information-item">
          <%= image_tag 'bootstrap.svg', class: 'item' %>
          <span>Bootstrap</span>
        </div>
        <div class="information-item">
          <%= image_tag 'rails.png', class: 'item' %>
          <span>Ruby on Rails</span>
        </div>
      </div>
    </div>
    
    <div class="information-category">
      <h5>Skills</h5>
      <div class="category-icons">
        <div class="information-item">
          <%= image_tag 'remote.svg', class: 'item' %>
          <span>Remote Exp</span>
        </div>
        <div class="information-item">
          <%= image_tag 'money.svg', class: 'item' %>
          <span>Entrepreneur</span>
        </div>
        <div class="information-item">
          <%= image_tag 'team.svg', class: 'item' %>
          <span>Team collaboration</span>
        </div>
        <div class="information-item">
          <%= image_tag 'chart.svg', class: 'item' %>
          <span>Business Strategy</span>
        </div>
      </div>
    </div>
  </div>
</section>
  
  
<%= render 'email_form' %>